{% extends 'layout.html' %}

{% block view %}
<h1>
	Articles
</h1>
<div class="row">
	{% for article in articles %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="{{article.image}}" alt="...">
			<div class="caption">
				<h3>{{article.title}}</h3>
				<p>{{article.subtitle}}</p>
				<p><a href="article/{{article.id}}" class="btn btn-primary" role="button" id="{{article.id}}">Read More</a> <!--<a href="#" class="btn btn-default" role="button">Button</a> --></p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}